body {
  background-color: #f9f9f7;
}
.top_bar {
  background-color: #474747;
  color: #f9f9f7;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 5;
  padding-right: 155px;
  padding-left: 150px;
}

.menu a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.menu ul li:hover {
  width: 64px;
  height: 32px;
  top: 11.5px;
  left: 554.89px;
  padding: 4px, 16px, 4px, 16px;
  border-radius: 34px;
  gap: 10px;
  background-color: #dbdfd0;
}

.info {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.social {
  display: inline-block;
  width: calc(100% - 270px);
  vertical-align: top;
  text-align: right;
}

.social ul {
  display: inline-block;
}

.social ul li {
  display: inline-block;
}

.header {
  padding-top: 30px;
  padding-right: 175px;
  padding-left: 150px;
  vertical-align: middle;
}

.menu {
  display: inline-block;
  width: calc(100% - 525px);
  vertical-align: middle;
  text-align: center;
  margin-bottom: 15px;
}

.menu ul {
  display: inline-block;
  margin-right: 150px;
}

.menu ul li {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
}
.b1 {
  display: inline-block;
  vertical-align: middle;
  width: 112px;
  height: 48px;
  top: 3.5px;
  left: 1163.5px;
  padding: 12px, 24px, 12px, 24px;
  border-radius: 118px;
  gap: 10px;
  margin-bottom: 15px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.hero {
  height: 802px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  font-family: Playfair Display;
  font-size: 100px;
  font-weight: 400;
  line-height: 96px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 210px;
}

h2 {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 64px;
}

.b2_b3 {
  text-align: center;
  padding-top: 72px;
}

.b2 {
  width: 128px;
  height: 64px;
  padding: 20px, 32px, 20px, 32px;
  border-radius: 118px;
  border: 1.5px;
  gap: 10px;
  background-color: #ad343e;
  color: #f9f9f7;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.b3 {
  width: 128px;
  height: 64px;
  padding: 20px, 32px, 20px, 32px;
  border-radius: 118px;
  gap: 10px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
